body{
  background-color:gray;
  margin-top: 200px;

}
.App {
  font-family: sans-serif;
  text-align: center;
  color: rgb(0, 34, 128);
  font-size: 30px;
}

ul {
  margin: 10px auto;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  margin-left: 50px;
  cursor: pointer;
}
.head{
  font-size: 45px;
  color: rgb(229, 255, 0);
  font-style:italic;
  text-align: center;
  margin-bottom: 12px;
}

input{
  text-align: center;
  height: 30px;
  border-radius: 15px;
  width: 25%;
}